@model SF.Blog.Web.Views.LoginViewModel;
@{
}

<div class="card col g-1" style="padding: 0">
	<h2 class="card-header">Signing in</h2>
	<form id="loginForm" class="card-body" method="post" asp-controller="Login" asp-action="Login">
		<div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
		<div class="row">
			<label class="form-label" asp-for="Email">Email</label><br />
			<input class="form-control" asp-for="Email" />
			<span class="alert-danger" role="alert" asp-validation-for="Email"></span>
		</div>
		<div class="row">
			<label class="form-label" asp-for="Password"></label><br />
			<input class="form-control" asp-for="Password" />
			<span class="alert-danger" role="alert" asp-validation-for="Password"></span>
		</div>
		<div class="row mt-3">
			<button class="btn btn-primary" type="submit" value="">
				Log in
			</button>
		</div>
	</form>
	<div class="row">
		<span
			class="card-text text-center"
			>
			Dont have an acccount?
			<a
				asp-area=""
				asp-controller="User"
				asp-action="Create">
				Register here
			</a>
		</span>
	</div>
</div>

@section Scripts{<partial name="_ValidationScriptsPartial" />}
