@using SF.Blog.Web.Views.Shared
@model SF.Blog.Web.Views.Users.UserInfoViewModel
@{
}

<section class="card row pt-2">
		<h6 class="card-subtitle display-6">
			Author: @Model.Name
		</h6>
		<p class="text-body-secondary">
			About: @Model.About
		</p>
</section>

@await Html.PartialAsync("AllPostsView", new AllPostsViewModel(Model.Posts))
