@model SF.Blog.Web.Views.Posts.CreatePostViewModel
@{
}

<div class="card col g-1" style="padding: 0">
	<h2 class="card-header">New post</h2>
	<form id="postForm" class="card-body" method="post" asp-controller="Posts" asp-action="New">
		<div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
		<div class="row">
			<label class="form-label" asp-for="Title"></label><br />
			<input class="form-control" asp-for="Title" />
			<span class="alert-danger" role="alert" asp-validation-for="Title"></span>
		</div>
		<div class="row">
			<label class="form-label" asp-for="Content"></label><br />
			<textarea class="form-control" asp-for="Content" rows="5"></textarea>
			<span class="alert-danger" role="alert" asp-validation-for="Content"></span>
		</div>
		<div class="row mt-3">
			<button class="btn btn-primary" type="submit" value="">
				Post
			</button>
		</div>
	</form>
</div>
