@using SF.Blog.Infrastructure.Data.DTO
@using SF.Blog.Web.Views.Shared
@model SF.Blog.Web.Views.Shared.AllCommentsViewModel
@{
}


@if (Model.Comments is null || Model.Comments.Count == 0)
{
	<h4>
		No comments yet...
	</h4>
}
else
{
	<h4>
		Comments:
	</h4>
	@foreach (CommentDTO comment in Model.Comments)
	{
		<div class="card my-2 px-3">
			<div class="row">
				<div class="card-body col-md-9">
					<h6 class="card-subtitle text-body-secondary text-end">
						by @comment.AuthorsName
					</h6>
					<p class="cart-text">
						@comment.Content
					</p>
					@if (Model.EditUI)
					{
						<a 
							href="@Url.Action("Post", "Posts", new{ id = comment.PostId })"
							>
							Check out the post and discussion.
						</a>
					}
				</div>
				@if (Model.EditUI || User.IsInRole("Moderator") || User.IsInRole("Admin"))
				{
					<div class="col-md-3 d-grid gap-2">
						<a 
							class="row btn btn-primary m-1"
							role="button"
							href="@Url.Action("Update", "Comments", new{ id = comment.Id })"
							>
							Edit
						</a>
						@await Html.PartialAsync("DeleteCommentView", new DeleteCommentViewModel(comment))
					</div>
				}
			</div>
		</div>
	}
}
