@{
    ViewData["Title"] = "Not found";
}

<div class="card d-flex justify-content-center align-items-center">
	<div
		class="card-img-top m-3"
		style="max-width:500px"
		>
		<?xml version="1.0" standalone="no"?>
		<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
		 "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
		<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
		 viewBox="0 0 554.000000 814.000000"
		 preserveAspectRatio="xMidYMid meet">
		<g transform="translate(0.000000,814.000000) scale(0.100000,-0.100000)"
		fill="#DC3545" stroke="none">
		<path d="M2505 8103 c-535 -64 -1035 -305 -1414 -682 -293 -292 -495 -627
		-615 -1022 -125 -414 -133 -878 -21 -1305 154 -591 541 -1114 1065 -1439 207
		-128 497 -247 730 -299 l105 -23 2 -1523 c3 -1505 3 -1524 23 -1565 54 -111
		214 -185 403 -185 108 0 177 13 252 49 75 35 129 81 158 135 l22 41 5 1519 5
		1519 110 24 c597 133 1142 510 1481 1024 362 550 483 1215 338 1867 -83 375
		-266 736 -524 1037 -521 606 -1334 923 -2125 828z m355 -258 c226 -35 458
		-107 635 -195 55 -28 91 -47 80 -43 -358 124 -506 153 -795 153 -784 0 -1496
		-447 -1841 -1155 -273 -562 -275 -1217 -4 -1782 265 -553 743 -947 1339 -1104
		290 -76 628 -84 931 -23 711 144 1317 689 1535 1382 18 56 34 101 37 99 7 -7
		-37 -234 -62 -322 -82 -281 -240 -498 -526 -721 -261 -204 -691 -503 -881
		-613 -102 -59 -108 -61 -224 -76 -139 -19 -430 -21 -560 -5 -159 20 -296 51
		-449 101 -591 195 -1066 611 -1340 1174 -159 326 -228 629 -228 1000 0 204 14
		326 60 520 145 619 561 1165 1122 1473 133 74 287 116 531 147 148 18 492 13
		640 -10z m190 -230 c1125 -157 1875 -1258 1606 -2360 -83 -341 -243 -630 -490
		-884 -165 -169 -319 -283 -525 -386 -311 -156 -679 -227 -1011 -196 -481 46
		-900 245 -1225 582 -501 520 -671 1262 -445 1941 179 539 571 957 1106 1181
		138 58 286 96 514 130 71 11 370 6 470 -8z m-442 -4311 c62 -4 115 -10 117
		-14 8 -12 53 -309 79 -515 33 -263 139 -1414 149 -1620 l2 -50 -252 -3 -253
		-2 0 1111 0 1111 23 -6 c13 -3 74 -8 135 -12z m522 -2344 l0 -50 -340 0 -340
		0 0 50 0 50 340 0 340 0 0 -50z m-160 -302 c0 -141 -11 -326 -26 -440 -6 -44
		-9 -48 -43 -58 -101 -28 -267 -4 -365 54 -84 49 -86 57 -86 345 l0 251 260 0
		260 0 0 -152z"/>
		<path d="M2570 7460 c-540 -75 -1002 -371 -1282 -822 -436 -702 -324 -1613
		271 -2196 355 -347 869 -534 1358 -492 248 21 423 69 648 180 208 101 390 238
		537 405 475 538 581 1290 273 1933 -246 514 -715 871 -1282 978 -93 18 -431
		27 -523 14z m517 -139 c505 -93 948 -431 1173 -896 332 -683 152 -1503 -435
		-1985 -206 -169 -444 -282 -718 -342 -138 -30 -482 -33 -622 -5 -582 117
		-1057 527 -1249 1077 -59 169 -78 281 -83 495 -2 110 0 225 5 255 9 53 10 51
		11 -47 2 -217 105 -399 286 -508 290 -174 678 -58 823 246 47 98 62 162 62
		262 -1 274 -197 516 -465 572 -95 20 -167 19 -257 -4 -106 -27 -186 -71 -262
		-141 -81 -76 -123 -142 -158 -245 -32 -94 -36 -82 -9 30 163 675 718 1166
		1418 1255 107 14 354 4 480 -19z m-990 -1073 c57 -34 78 -74 80 -154 1 -40 9
		-95 17 -125 36 -119 9 -273 -63 -369 -158 -210 -452 -236 -638 -55 -52 50 -65
		75 -41 75 7 0 53 20 103 44 110 54 205 131 273 222 45 60 49 70 37 84 -42 46
		-56 134 -31 193 16 40 77 95 114 103 15 3 32 7 37 9 20 7 81 -8 112 -27z
		m-628 -404 c39 -32 49 -80 26 -127 -36 -77 -144 -82 -188 -7 -28 46 -22 87 17
		126 44 44 99 47 145 8z"/>
		<path d="M3525 6441 c-206 -51 -376 -218 -430 -421 -22 -83 -19 -234 6 -316
		88 -289 380 -468 670 -410 281 57 479 295 479 575 0 160 -60 302 -175 417
		-148 147 -352 204 -550 155z m473 -188 c18 -9 45 -32 60 -51 23 -30 27 -46 28
		-106 1 -39 9 -95 18 -125 32 -109 13 -253 -46 -346 -92 -144 -265 -223 -425
		-195 -91 15 -166 53 -230 115 -52 50 -65 75 -41 75 7 0 53 20 103 44 110 54
		205 131 273 222 44 59 49 71 38 84 -92 104 -39 268 98 301 37 9 79 3 124 -18z
		m-619 -409 c55 -46 50 -122 -11 -167 -92 -68 -210 44 -151 143 32 56 111 67
		162 24z"/>
		<path d="M3823 5193 c-167 -240 -156 -424 28 -458 75 -14 167 34 195 102 23
		54 15 153 -12 153 -21 0 -44 41 -44 80 -1 35 -19 66 -87 143 -18 21 -34 37
		-36 37 -2 0 -22 -26 -44 -57z"/>
		<path d="M2506 5063 c-245 -52 -414 -205 -499 -450 -17 -52 -32 -117 -35 -158
		-4 -66 -3 -72 23 -97 36 -36 92 -38 130 -5 20 17 30 41 44 113 10 50 31 116
		46 148 54 115 170 211 302 249 122 36 301 30 420 -15 154 -57 270 -211 289
		-386 8 -65 26 -107 53 -122 35 -18 88 -12 118 14 26 23 28 29 26 93 -1 85 -48
		233 -100 322 -21 35 -71 95 -112 133 -87 83 -193 137 -313 162 -97 20 -298 20
		-392 -1z"/>
		</g>
		</svg>

	</div>
	<div class="card-body">
		<p class="card-text">
			We could not find that data.
		</p>
		<a
			target="_blank"
			href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/404"
			>
			More info
		</a>
	</div>
</div>
