@{
}

<div class="text-center">
    <h3 class="display-4">Welcome to the blogspace!</h3>
	<a asp-area=""
	   asp-controller="Posts"
	   asp-action="New"
	   class="btn btn-primary">
	   Start new post.
	</a>
</div>
